title {
 text-align: right; 
}

p {
  text-align: right;
}
h3 {
  text-align: right;
}

.location {

}

.position {
  font-style: italic;
}

.organization {
 font-weight: bold; 
}

.date {
 block: inline-block;
 text-align: right;
}

.resumeItem {
 background-color: DAECFF
}


