@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
  --dark-color: #475f8e;
  --dark-color2: #334568;
  --light-color: #edf3ff;
}

title {
 text-align: right;
}

body {
  font-family: 'Nunito';
  background-color: #fdfdfd;
}
p {
  text-align: right;
}


.nameHeader {
  background-color: var(--dark-color2);
  color: var(--light-color);
  position: fixed;
  width: inherit;
  top: 0;
}

.sectionHeader {
  text-align: center;
  vertical-align: middle;
  background-color: var(--dark-color2);
  color: var(--light-color);
  margin-bottom: 12px;
  height: 30px;
  padding-top: 7px;
}

.name {
  margin-bottom: 0px;
  width: 900px;
  color: var(--light-color);
  background-color: var(--dark-color);
  width: 700px;
  padding-left: 4px;
}
.personalInfo {
  text-align: right;
  margin-top: -60px;
  padding: 4px;
  background-color: inherit;
  color: inherit;
}

.position {
  font-style: italic;
}

.organization {
 font-weight: bold;
}

.date {
 float: right;
}

.resumeItem {
 background-color: var(--light-color);
 margin-bottom: 12px;
 padding: 2px;
 width: inherit;

}

.container {
 width: 900px;
 display: block;
 margin: auto;
}

.sectionTitle {
}

.itemTitle {
  background-color: var(--light-color);
  color: black;
  padding: 3px;
}

.experienceContainer {
  margin-bottom: 10px;
  border-radius: 6px;
}

.b {
  list-style-type: square;
  margin-left: 50px;
}

.c {
  list-style-type: square;
  margin-left: 50px;
}

.engagementExamples {
  font-weight: bold;
  margin-top: 6px;
}

#example1 {
  display: none;
}

#example2 {
  display: none;
}

.button {
  background-color: var(--dark-color2);
  color: var(--light-color);
  font-size: inherit;
  border-radius: 2px;
  outline: none;
}
