title {
 text-align: right; 
}

p {
  text-align: right;
}
h3 {
  text-align: right;
}

.location {

}

.position {
  font-style: italic;
}

.organization {
 font-weight: bold; 
}

.date {
 float: right;
 text-align: right;
}

